#para1{
    color: brown;
    font-size: medium;
}

.para1{
    color: darkgoldenrod;
}

.para_2{
    background-color: aquamarine;
    
}

#para_2{
    background-color: cadetblue;
    font-size: large;
}