header{
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    color: white;
}

.fundo{
    background-color:blueviolet;
    height: 150px;
    width: 100%;
}

.Intro{
    color: darkorchid;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.Equipe{
    color: darkorchid;
    display: flex;
    justify-content: center;
    

}

.Bolinhas{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.Bolinhas div{ 
    background-color: blueviolet;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.times{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    color: darkorchid;
}

.devs{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    color: darkorchid;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 40px 20px 40px;
}


footer{
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    color:white;
    margin-top: 50px;
}